<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style='background-color: #F0E68C;'>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
          <button type="button", class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/recipes">Read&Eat</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "My Recipes", myrecipes_path %></li>
          <li><a href="#">Favorites</a></li>
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row row-centered">

      <div class="largeheader">
        <h1>My Recipes</h1>
      </div>

      <div class="allrecipes">
        <% @recipes.each do |r| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <b><%= link_to r.name, showrecipe_path(r) %></b></br>
              <%= r.price %> kr./portion</br>
              <%= r.minutes %> minutes </br></br>
              <%= image_tag(r.image, class: "img-responsive", height: 500, width: 1200) %></br>
            </div>
            <div class="panel-footer clearfix">
              <div class="btn pull left">
                <%= link_to "Edit", editrecipe_path(r), class: "btn btn-default", role: "button" %>
              </div>
              <div class="btn pull right">
                <%= button_to "Delete", deleterecipe_path(r), class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

        <div class="newrecipebutton">
          <p>
          <%= link_to "Make a new recipe", newrecipe_path, class: "btn btn-success", role: "button" %>
          <%= link_to "Go back", "/recipes", class: "btn btn-warning", role: "button" %>
          </p>
        </div>

      </div>
    </div>

</body>
</html>
